@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background: rgb(25, 120, 203);
    min-height: 100vh;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    color: white;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}

.navigation li a:hover,
.navigation li a.active {
    background: rgb(9, 27, 228);
    color: white;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: white;
}

.content {
    position: relative;
    padding: 100px;
    background: #112434;
}

.content h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.container {
    max-width: 1224px;
    width: 100%;
    margin: auto;
    padding: 40px 0;
}

.title {
    margin-bottom: 2rem;
}

.photo-gallery {
    display: flex;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.footers{
    position: relative;
    padding: 100px;
    background: #112434;
}

.footers p {
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 767px) {
    header {
        padding: 20px;
    }

    .logo {
        font-size: 1.5em;
    }

    .navigation {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .navigation li a {
        padding: 8px 12px;
        border-radius: 10px;
    }

    .parallax #text {
        font-size: 3em;
    }

    .content {
        padding: 50px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        padding: 25px 50px;
    }

    .logo {
        font-size: 1.8em;
    }

    .navigation {
        gap: 20px;
    }

    .parallax #text {
        font-size: 3.5em;
    }

    .content {
        padding: 75px;
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding: 30px 100px;
    }

    .logo {
        font-size: 2em;
    }

    .navigation {
        gap: 40px;
    }

    .parallax #text {
        font-size: 4em;
    }

    .content {
        padding: 100px;
    }
}
